
<%- include("header")-%>
<body class="text-center">
  <div class="jumbotron centered">
  <div class="container">
    <a class="btn btn-light btn-lg" href="/signup" role="button">Signup</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>



</body>


<%-include("footer")-%>
